body {
  margin: 0;
  /* height: 100vh; */
  color: white;
}

#container {
  /* background-color: red; */
  display: flex;
  height: 100vh;
  gap: 0.25rem;
  max-width: 90%;
  margin: auto;
}

.item {
  flex-grow: 1;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.color {
  background-color: #a32e76;
}

/* .inside-item {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
} */
